RewriteEngine On
RewriteBase /

Options -Indexes

RewriteRule ^articles/([A-Za-z_]+)\??(page=[0-9]+)?$ articles/section.php?category=$1&$2 [L,QSA]

RewriteRule ^articles/([A-Za-z_]+)/([0-9]+)$ articles/detail.php?category=$1&idPost=$2 [L,QSA]

RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_FILENAME} !/articles/detail.php$
RewriteCond %{REQUEST_FILENAME} !/articles/section.php$
RewriteRule ^(.+)(/.+\.php)$ $1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_FILENAME}/index.php !-f
RewriteRule .+ 404.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .+ 404.php